/*! rwd.css @ 2017, hahayuni.net*/

/*사용자 정의 디자인 시작*/
body {
	background:#fff;
}

body,
figure {
	margin:0;
}

img,
video {
	vertical-align:bottom;
}

/*사용자 정의 디자인 시작*/
.hide {
	display: none !important;
	/*보이지 않게 감춰주는 클래스이다. 감추고 싶은 내용에 hide 클래스를 넣어주면 브라우저에서 보이지 않는다.*/
}

.demo {
	/*padding:30px;*/
	/*
	max-width:960px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	*/
}

.img-wrapper,
.video-wrapper {
	margin-bottom:20px;
	border:5px solid #eee;
}

/*배경이미지 반응형 처리*/
.green-leap {
	background:url("https://unsplash.it/800/420/?image=18") no-repeat;
	padding-top:52.5%; /* 420(높이)/800(너비)x100%*/
}

.business {
	background:url("https://unsplash.it/800/420/?image=60") no-repeat;
	padding-bottom:81.113537118%; /* 420(높이)/800(너비)x100%*/
}

.big-header {
	height:100vh;
	background:#e0e0e0;
}

.big-header-title {
	position:absolute;
	z-index:100;
	top:70px;
	left:50%;
	transform:translateX(-50%);
	margin:0;
	font-size:50px;
	font-weight:100;
	color:#fff;
}

/*
.big-header img {
	position:absolute;
	left:50%;
	width:100%;
	height:auto;
	transform:translateX(-50%);
}
*/

.cracker {
	background:url("../images/matt-palmer.jpg") no-repeat center top;
}

/*이미지 스케일 업 모듈*/
.scale-up {
	display:inline-block;
	width:140px;
	height:200px;
}

.scale-up .scale-wrap {
	position:relative;
	overflow:hidden;
	height:inherit;
}

.scale-up .scale-mask {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.scale-up .scale-img {
	transform:scale(1);
	transform:all 0.3s;
}

.scale-up:hover .scale-img {
	transform:scale(1.2);
}

.media-zone {
	max-width:700px;
	min-height:100vh;
	margin-left:auto;
	margin-right:auto;
}

/*유투브, 맵 모듈*/
.youtube, .map {
	position:relative;
	width:100%;
	height:0;
}

.youtube.is-4x3,
.map.is-4x3 {
	padding-top:75%;
}

.youtube.is-16x9,
.map.is-16x9 {
	padding-top:56.25%;
}

.youtube.is-21x9,
.map.is-21x9 {
	padding-top:42.857142857%;
}

.youtube iframe,
.map iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
}

/*반응형 웹 디자인 클래스(모듈)*/
/*e.g) content imgae*/
.rwd-img,
.rwd-video {
	width:100%;
	height:auto;
	/*height 값을 auto로 주면 width 값에 맞춰 가변된다.*/
}

/*e.g) backfround image*/
.rwd-bg {
	width:100%;
	height:0;
	/* 이미지가 들어가 있어도 width와 height가 없기 때문에 height 값을 0으로 한다.*/
	background-size:cover;
}

/*e.g) crop imgae*/
.crop-img-wrapper {
	overflow:hidden;
	position:relative;
	height:inherit;
}

.crop-img {
	position:absolute;
	left:50%;
	transform:translateX(-50%)
}
